:root, [data-bs-theme=light] {
  --bs-success: #3f865c;
  --bs-success-rgb: 63,134,92;
  --bs-success-text-emphasis: #193625;
  --bs-success-bg-subtle: #D9E7DE;
  --bs-success-border-subtle: #B2CFBE;
  --bs-info: #351e03;
  --bs-info-rgb: 53,30,3;
  --bs-info-text-emphasis: #150C01;
  --bs-info-bg-subtle: #D7D2CD;
  --bs-info-border-subtle: #AEA59A;
  --bs-warning: #f5cb45;
  --bs-warning-rgb: 245,203,69;
  --bs-warning-text-emphasis: #62511C;
  --bs-warning-bg-subtle: #FDF5DA;
  --bs-warning-border-subtle: #FBEAB5;
  --bs-body-color: #292121;
  --bs-body-color-rgb: 41,33,33;
  --bs-body-bg: #d2e4bc;
  --bs-body-bg-rgb: 210,228,188;
  --bs-secondary-color: rgba(41,33,33,0.75);
  --bs-secondary-color-rgb: 41,33,33,0.75;
  --bs-tertiary-color: rgba(41,33,33,0.5);
  --bs-tertiary-color-rgb: 41,33,33,0.5;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13,110,253;
  --bs-border-color: rgba(222,226,230,0);
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #3f865c;
  --bs-btn-border-color: #3f865c;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #5C9874;
  --bs-btn-hover-border-color: #52926C;
  --bs-btn-focus-shadow-rgb: 9,20,14;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #659E7D;
  --bs-btn-active-border-color: #52926C;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #3f865c;
  --bs-btn-disabled-border-color: #3f865c;
}

.btn-outline-success {
  --bs-btn-color: #3f865c;
  --bs-btn-border-color: #3f865c;
  --bs-btn-focus-shadow-rgb: 63,134,92;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #3f865c;
  --bs-btn-hover-border-color: #3f865c;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #3f865c;
  --bs-btn-active-border-color: #3f865c;
  --bs-btn-disabled-color: #3f865c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3f865c;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #351e03;
  --bs-btn-border-color: #351e03;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2D1A03;
  --bs-btn-hover-border-color: #2A1802;
  --bs-btn-focus-shadow-rgb: 225,221,217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2A1802;
  --bs-btn-active-border-color: #281702;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #351e03;
  --bs-btn-disabled-border-color: #351e03;
}

.btn-outline-info {
  --bs-btn-color: #351e03;
  --bs-btn-border-color: #351e03;
  --bs-btn-focus-shadow-rgb: 53,30,3;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #351e03;
  --bs-btn-hover-border-color: #351e03;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #351e03;
  --bs-btn-active-border-color: #351e03;
  --bs-btn-disabled-color: #351e03;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #351e03;
}

.btn-warning {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f5cb45;
  --bs-btn-border-color: #f5cb45;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F7D361;
  --bs-btn-hover-border-color: #F6D058;
  --bs-btn-focus-shadow-rgb: 37,30,10;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F7D56A;
  --bs-btn-active-border-color: #F6D058;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f5cb45;
  --bs-btn-disabled-border-color: #f5cb45;
}

.btn-outline-warning {
  --bs-btn-color: #f5cb45;
  --bs-btn-border-color: #f5cb45;
  --bs-btn-focus-shadow-rgb: 245,203,69;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f5cb45;
  --bs-btn-hover-border-color: #f5cb45;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f5cb45;
  --bs-btn-active-border-color: #f5cb45;
  --bs-btn-disabled-color: #f5cb45;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f5cb45;
}

